<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>

<body>
    <div id="header">
        <div class="header-container site-wrapper">
            <img style="width: 130px;" src="../assets/images/logo.png" alt="logo">
            <div>
                <ul class="main-menu">
                    <li>
                        <img src="/assets/images/mainMenuIcons/ShoppingCartSimple.svg" alt="cart" />
                        <p class="active">Action</p>
                    </li>
                    <li>
                        <img src="/assets/images/mainMenuIcons/Trophy.svg" alt="Trophy" />
                        <p class="">Contests</p>
                    </li>
                    <li>
                        <img src="/assets/images/mainMenuIcons/Briefcase.svg" alt="Briefcase" />
                        <p class="">Project</p>
                    </li>
                    <li>
                        <img src="/assets/images/mainMenuIcons/Image.svg" alt="Image" />
                        <p class="">Portfolios</p>
                    </li>
                    <li>
                        <img src="/assets/images/mainMenuIcons/UsersThree.svg" alt="UsersThree" />
                        <p class="">Freelancers</p>
                    </li>
                    <li>
                        <img src="/assets/images/mainMenuIcons/Chats.svg" alt="Chats" />
                        <p class="">Forum</p>
                    </li>
                </ul>
            </div>
            <div class="flex header-actions" style="gap: 15px;">
                <img src="/assets/images/mainMenuIcons/Bell-1.svg" alt="Bell-1" />
                <img src="/assets/images/mainMenuIcons/Bell.svg" alt="Bell" />
                <img src="/assets/images/mainMenuIcons/Group 1000001733.svg" alt="Group" />
            </div>
        </div>
    </div>
</body>

</html>